:root {
  --header-footer-bgcolor: #f3e58e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: transparent;
}

body {
  font-family: "Fira Sans Condensed", sans-serif;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  height: inherit;
  background: #c1a601;
  margin: 0 auto;
  padding: 0 10px;
}
#carouselExampleIndicators {
  height: 80vh;
  width: 95%;
}

.carousel-inner {
  height: 100%;
  background: white;
  padding: 10px 15px;
  border: 4px solid #877713;
}
.title {
  padding: 20px 17px;
  background: var(--header-footer-bgcolor);
  margin: 0;
}

[type="button"]:not(:disabled) {
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  position: absolute;
  opacity: 1;
  top: 15px;
  margin: 0 30px;
}
[type="button"] img {
  width: 100px;
}
.controls {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 13px;
  gap: 60px;
  background-color: var(--header-footer-bgcolor);
  align-items: center;
}
.controls * {
  cursor: pointer;
}
.controls button {
  position: relative;
}
.carousel-indicators {
  top: 103%;
}
.carousel-indicators li {
  width: 30px;
  height: 30px;
  text-indent: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  border: 3px solid green;
  border-radius: 10px;
  padding-top: 2px;
  background: #71d6719e;
}

.selected {
  background-color: #7d954f;
  padding: 0 14px;
  color: #fff;
  border-radius: 25px;
}

.correct {
  background-color: #0080004d !important;
}
.incorrect {
  background-color: #800900ad !important;
  color: #fff;
}

.disabled {
  pointer-events: none;
  opacity: 0.6 !important;
}

.preventClick {
  pointer-events: none;
}

.controls button:hover {
  animation: move 0.5s;
}
@keyframes move {
  0% {
    transform: translate(10px);
  }
  25% {
    transform: translate(0px);
  }
  50% {
    transform: translate(10px);
  }
  75% {
    transform: translate(0px);
  }
}
.controls div:hover img {
  animation: zoom 0.5s;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
}
